.calculadora{background-color: antiquewhite; 
   text-align: center;
   width: 300px;
margin-left: 600px;
height: 250px;}
.butao{width: 60px;
height: 40px;
padding: 10px;
background-color: cornflowerblue;color:#ffff;
border: none;
margin-top: 10px;

}